<div class="flex-container">

   <div class="flex-item-left">
    <h1 class="title-aboutme">About Me</h1>
    <img src="assets/Images/Lavern 2.jpg" alt="1st image of Lavern" class="first-img">
   </div> 


   <div class="flex-item-right2">
    <p class="right-side-paragraph">
      While my core expertise lies in front-end development, I leverage a strong foundation in 
      various design programs. Tools like Canva and Photoshop allow me to translate ideas into 
      visually appealing and intuitive user interfaces. 
      This collaborative approach ensures a seamless transition from design mockups to fully 
      functional, responsive websites.
    </p>
   </div>
 </div>

 <div class="flex-container2">
    <div class="flex-item-left2">
        <p class="left-side-paragraph">
          My skillset doesn't end there. I'm proficient in MS Office applications like Word, Excel, 
          and PowerPoint. This allows me to effectively communicate project details, create clear 
          documentation, and manage tasks with ease. It also facilitates seamless collaboration with 
          design and marketing teams, ensuring everyone's on the same page.
<br>
<br>
<br>
          The world of technology is constantly evolving, and I embrace the challenge of staying 
          ahead of the curve. I'm a firm believer in continuous learning, actively seeking out 
          opportunities to expand my knowledge base and explore new technologies. This dedication 
          allows me to tackle projects with the latest tools and best practices.
        </p>
    </div>


    <div class="flex-item-right2">
        <br>
        <img src="assets/Images/Lavern 3.jpg" alt="2nd Pic of Lavern" class="second-img">
    </div>
    <br>
</div>






<!-- PROGRAMMING SKILLS -->
<h1 class="title-prog-skills">Programming Skills</h1>
<div class="responsive">
    <div class="gallery">
        <img src="assets/Images/LOGO-HTML.png" alt="HTML">
      <div class="desc">HTML</div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
        <img src="assets/Images/LOGO-CSS.png" alt="CSS">
      <div class="desc">CSS</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
        <img src="assets/Images/LOGO-JAVASCRIPT.png" alt="Javascript">
      <div class="desc">Javascript</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)"> -->
        <img src="assets/Images/LOGO-C-SHARP.png" alt="C-Sharp">
      <!-- </a> -->
      <div class="desc">C#</div>
    </div>
  </div>






  <!-- OTHER COMPUTER SKILLS -->
<h1 class="title-other-skills">Other computer skills</h1>
<div class="responsive">
    <div class="gallery">
        <img src="assets/Images/LOGO-MS-WORD.png" alt="Word">
      <div class="desc">MS Word</div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
        <img src="assets/Images/LOGO-MS-PP.png" alt="PowerPoint">
      <div class="desc">MS Powerpoint</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
        <img src="assets/Images/LOGO-MS-EXCEL.png" alt="Excel">
      <div class="desc">MS Excel</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
        <img src="assets/Images/LOGO-MS-OUTLOOK.png" alt="Javascript">
      <div class="desc">MS Outlook</div>
    </div>
  </div>

<div class="last-row">
  <div class="responsive">
    <div class="gallery">
        <img src="assets/Images/LOGO-CANVA.png" alt="HTML">
      <div class="desc">Canva</div>
    </div>
  </div>  
</div>

