<div class="flex-container">

   <div class="flex-item-left">
    <h1 class="title-aboutme">About Me</h1>
    <img src="assets/Images/Lavern 2.jpg" alt="1st image of Lavern" class="first-img">
   </div> 


   <div class="flex-item-right2">
    <p class="right-side-paragraph">I am Blessel Lavern Q. Ruffin. I am currently 22 years old,
      born and raised in Angeles City, Pampanga. 

      My hobbies include listening to music and watching movies, which influence the art that I make.
    </p>
   </div>
 </div>

 <div class="flex-container2">
    <div class="flex-item-left2">
        <p class="left-side-paragraph">
          The most thing that I am passionate about when making a website is the design aspect of it. I
          particularly adore making designs and making them aesthetically pleasing while also being 
          user-friendly. 
        </p>
    </div>


    <div class="flex-item-right2">
        <br>
        <img src="assets/Images/Olruggio.jpg" alt="2nd Pic of Lavern" class="second-img">
    </div>
    <br>
</div>






<!-- PROGRAMMING SKILLS -->
<h1 class="title-prog-skills">Programming Knowledge</h1>
<div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="https://html.com/"> -->
        <img src="assets/Images/LOGO-HTML.png" alt="HTML">
      <!-- </a> -->
      <div class="desc">HTML</div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="https://en.wikipedia.org/wiki/CSS"> -->
        <img src="assets/Images/LOGO-CSS.png" alt="CSS">
      <!-- </a> -->
      <div class="desc">CSS</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="https://en.wikipedia.org/wiki/JavaScript"> -->
        <img src="assets/Images/LOGO-JAVASCRIPT.png" alt="Javascript">
      <!-- </a> -->
      <div class="desc">Javascript</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)"> -->
        <img src="assets/Images/LOGO-C-SHARP.png" alt="C-Sharp">
      <!-- </a> -->
      <div class="desc">C#</div>
    </div>
  </div>







  <!-- OTHER COMPUTER SKILLS -->
<h1 class="title-other-skills">Computer Knowledge</h1>
<div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="img_5terre.jpg"> -->
        <img src="assets/Images/LOGO-MS-WORD.png" alt="Word">
      <!-- </a> -->
      <div class="desc">MS Word</div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="img_forest.jpg"> -->
        <img src="assets/Images/LOGO-MS-PP.png" alt="PowerPoint">
      <!-- </a> -->
      <div class="desc">MS Powerpoint</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="img_lights.jpg"> -->
        <img src="assets/Images/LOGO-MS-EXCEL.png" alt="Excel">
      <!-- </a> -->
      <div class="desc">MS Excel</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="img_mountains.jpg"> -->
        <img src="assets/Images/LOGO-MS-OUTLOOK.png" alt="Javascript">
      <!-- </a> -->
      <div class="desc">MS Outlook</div>
    </div>
  </div>

<div class="last-row">
  <div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="https://html.com/"> -->
        <img src="assets/Images/LOGO-CANVA.png" alt="HTML">
      <!-- </a> -->
      <div class="desc">HTML</div>
    </div>
  </div>  
</div>

