* {
  box-sizing: border-box;
}

.title-aboutme{
  color: #e64833;
  font-family:'Times New Roman', Times, serif;
  font-size: 55px;
  padding-bottom: 20px;
}

.first-img{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 8px;
  border: #e64833 2px solid;
  width: 250px;
}

.second-img{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: 12px;
  border-radius: 8px;
  border: #e64833 2px solid;
  height: 50;
  width: 250px;
}
  
.flex-container {
  display: flex;
  text-align: center;
  flex-direction: row;
  font-size: 30px;
  padding-top: 50px;
}
  
.flex-item-left {
  flex: 30%;
  padding: 10px;
}

  
.flex-item-right {
  flex: 60%;
  padding-top: 90px;
}

.right-side-paragraph{
  color: #244858;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15vh;
}

  .flex-container2 {
  display: flex;
  text-align: center;
  flex-direction: row;
  font-size: 30px;
  padding-top: 50px;
}

flex-item-right2 {
  flex: 30%;
  padding: 10px;
  padding-bottom: 25px;
}
.flex-item-left2 {
  flex: 30%;
  padding: 10px;
  padding-top: 5vh;
}

.left-side-paragraph{
  color: #244858;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}

.title-prog-skills{
  text-align: center;
  color: #e64833;
  font-family:'Times New Roman', Times, serif;
  font-size: 55px;
  padding-top: 10vh;
  padding-bottom: 20px;
}

.title-other-skills{
  text-align: center;
  color: #e64833;
  font-family:'Times New Roman', Times, serif;
  font-size: 55px;
  padding-top: 15vh;
  padding-bottom: 20px;
}

.last-row{
  padding-top:25vh;
  padding-bottom: 25vh;
}


  
div.gallery img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
  
div.desc {
  text-align: center;
  color: #244858;
  font-weight: bolder;
  padding: 15px;
}

.responsive {
  float: left;
  padding: 0 6px;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




@media (max-width: 950px) {
  .flex-container {
    flex-direction: column;
  }
}

  @media (max-width: 950px) {
    .flex-container2 {
      flex-direction: column;
    }
    .second-img{
        margin-left: auto;
        margin-right: auto;
    }
    .right-side-paragraph{
        margin-top: 10px;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
    .last-row{
      padding-top: 30px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
    .last-row{
      padding-bottom: 20vh;
    }
  }
  