<h1 class="title">My Past Projects</h1>
<h2 class="sub-title">(Mainly school works/Currently under construction)</h2>



<img src="assets/Images/GIF-Pikachu.gif" alt="Lollers" class="GIF-Pikachu">



<!-- BEGINNING OF FIRST ROW -->
<div class="row"> 
  <!-- <div class="column">
  <a target="_blank" href="/assets/Past Projects/PP-STIenroll/sti">
    <img src="assets/Images/LOGO-STI.png" style="width:100%">
  </a> 
    <p> Enrollment form of STI College </p>
  </div> -->
  
  <div class="column">
    <a target="_blank" href="https://angelessti-my.sharepoint.com/:f:/g/personal/ruffin_139366_angeles_sti_edu_ph/Ep36zqJ9APRPr-7XoRF3Ul0BcHJJAw-GJp8QuuZljedTEA?e=oPi5Vq">
    <img src="assets/Images/cashier.png" style="width:100%">
    </a>
    <p> Grocery store and Delivery website
      <br>
     (Images only)
     </p>
  </div> 
   
  



<!-- BEGINNING OF SECOND ROW -->
  <div class="column">
  <a target="_blank" href="assets/Past Projects/PP-Calculator/index.html">
    <img src="assets/Images/Calculator.png" style="width:100%">
  </a>  
    <p> Calculator </p>
  </div>

  <div class="column">
    <a target="_blank" href="assets/Past Projects/PP-Colorsquare/colorsquare.html">
    <img src="assets/Images/Colorsquare.png" style="width:100%">
  </a>  
    <p> Color Square </p>
  </div>

  <div class="column">
    <a target="_blank" href="assets/Past Projects/PP-Responsive Rainbow Web/Midterms/index.html">
    <img src="assets/Images/Rainbow.png" style="width:100%">
  </a>  
    <p> Responsive Rainbow Web </p>
  </div>
</div>






