<div class="midnav">
  
    <h2 class="titlewelcome1">Welcome to my Online Portfolio</h2>

    <p class="titlewelcome2">I'm Vern </p>
      <img src="assets/Images/Lavern.jpg" alt="Avatar" class="image">
    <div class="midnav-name">
      <p class="midnav-first-paragraph"> 
        Hi there! I am Blessel Lavern Q. Ruffin, 22 years old and a passionate front-end developer who
        thrives on creating user-centric web experiences.
      </p>

      <p class="midnav-second-paragraph">
        Please enjoy my website!
      </p>
    </div>  
</div>
