<div class="midnav">
  
    <h2 class="titlewelcome1">Welcome to my Online Portfolio</h2>

    <p class="titlewelcome2">I'm Vern </p>
      <img src="assets/Images/Lavern.jpg" alt="Avatar" class="image">
    <div class="midnav-name">
      <p class="midnav-first-paragraph"> 
        Hello, I'm lavern. A web developer located at Mabalacat City, Pampanga.
      </p>

      <p class="midnav-second-paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam officia 
        itaque odio sequi eius, in alias dolore ea qui minus? Laborum dolor 
        fugiat veniam beatae ipsam fugit voluptate at error!
      </p>
    </div>  
</div>
